<div class="nav-menu">
    <div class="nav-header p-3">
        <h5 class="text-white mb-0">
            <i class="fas fa-school me-2"></i>
            Escola FIAP
        </h5>
    </div>

    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fas fa-home me-2"></i> Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="alunos">
                <i class="fas fa-user-graduate me-2"></i> Alunos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="turmas">
                <i class="fas fa-chalkboard-teacher me-2"></i> Turmas
            </NavLink>
        </div>
    </nav>
</div>